title {
   font-size: 50px;
}
body{
    background-color: #ADD8E6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: red;
  overflow: hidden;
}

li {
  display: inline;
  padding: 40px;
  font-size: 60px;
}